.main{
  width: 1920px;
  height: 1020px;
  top: -181px;
  left: -540px;
  padding: 110px 0px 110px 0px;
  gap: 0px;
  opacity: 0px;
  background: linear-gradient(156.72deg, #E6EEFF 28.87%, rgba(230, 238, 255, 0) 103.1%);


}
.body{
  width: Fixed (360px)px;
height: Fixed (800px)px;
top: 110px;
left: 780px;
gap: 0px;
border-radius: 20px 0px 0px 0px;
border: 7px 0px 0px 0px;
opacity: 0px;
background: rgba(255, 255, 255, 1);
border: 7px solid rgba(255, 255, 255, 1)
}